@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div>
                    <ul class="nav navbar-nav navbar-right">
                        @* <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>*@
                        <li><a href="~/Account/Login"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>
