
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <hr />
    <div class="panel-heading">
        <h2>@Html.ActionLink("Welcome to Propricer Estimator","Login","Account")</h2>
    </div>
</div>

