
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="panel">
    <div class="panel-heading">
        <h2>Welcome to Propricer Estimator</h2>
    </div>
</div>